.animation-div {
    width: 200px;
    height: 200px;
    border: 1px black solid;
    color: red;
    float: left;
}

.animation-div2 {
    width: 200px;
    height: 200px;
    border: 1px green solid;
    color: yellow;
    float: left;
}

.textDiv {
    padding-top: 50px;
    clear: both;
}